body {
    background-color: #007EA7;
}

h3 {
    color: #fff;
    font-size: 36px;
    text-align: center;
    margin-top: 135px;
    font-weight: bold;
    font-family: 'Coiny', cursive;
}

.login-page {
    width: 200px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 25px;
}

small {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.button {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 7px;
    margin-top: 25px;
    width: 75px;
    color: black;
    background: #ffff;
    border-radius: 10px;
}

.dont-have {
    color: #ffff;
    margin-top: 15px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.dont-have a {
    color: #ffff;
    margin-top: 15px;
    text-align: center;
    text-decoration: underline;
}

.send-money {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
}

.send-box2 {
    background-color: white;
    border-radius: 8px;
    border: 1px solid white
}

.send-box {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
}

.send-money-button {
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    width: 100px;
    
}

.bottom-buttons {
    bottom: 0;
    position: fixed;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 400px;
}

.bottom1,
.bottom2,
.bottom3 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    border-right: grey 1px solid;
    height: 35px;
    font-weight: bold;
    transition: 0,7s;
}

.bottom1 {
    background-color: #00A8E8;
    color: white;
    border-top: grey 1px solid;
}

.bottom1:focus,
.bottom2:focus,
.bottom3:focus {
    text-decoration: underline;
    color: white;
    background-color: #00A8E8;
}
