body {
    background-color: #007EA7;
}

h3 {
    color: #fff;
    font-size: 36px;
    text-align: center;
    margin-top: 150px;
    font-weight: bold;
    font-family: 'Coiny', cursive;
}

.login-page {
    width: 200px;
    margin-left: 85px;
}

small {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: white;
}
